html {
	min-height: 100%;
	display: grid;
}

.deck_body {
	font-family:  "Nunito Sans";
	background-color: #b3ffb3;
	min-height: 100%;
	min-width: 100%;
}

.deck_main {
	width: 50%;
	margin: auto;
	margin-top: 8%;
}

.deck_container {
	margin-top: 5%;
	text-align: center;
}

.deck_form {
	display: grid;
	grid-template-columns: max-content max-content;
	justify-content: center;
}

.deck_form_two {
	display: grid;
	justify-content: center;
}

.deck_label {
	font-size: 200%;
	font-weight: bold;
}

.deck_input {
	border-radius: 25px;
	font-size: 110%;
	border: 0;
	outline: 0;
    padding: 20px; 
    height: 15px;
    display: table-cell;
}

.deck_submit {
	border-radius: 25px;
	border: 0;
	outline: 0;
    padding: 20px; 
    height: 15px;
    display: table-cell;
    margin-top: 2%;
}

.deck_ul {
	font-size: 300%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

.deck_li {
	background-color: #b3b3ff;
	margin: 2% 0 2%;
}

.deck_submits {
	border-radius: 25px;
	border: 0;
	outline: 0;
    padding: 20px; 
    height: 15px;
    display: table-cell;
    margin-right: 10px;
}

.deck_span {
	font-size: 200%;
	position: relative;
	bottom: 12px;
}

.deck_textarea {
	border-radius: 15px;
	font-size: 110%;
	border: 0;
	outline: 0;
    padding: 20px; 
}

.deck_help {
	font-size: 200%;
}