.App {
  text-align: center;
}

.flashcard-question {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flashcard-answer {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flashcard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.question-side, .answer-side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.question-side {
  background-color: blue;
}

.answer-side {
  background-color: red;
  transform: rotateY(180deg);
}